---
const { ownerDid, collectionName, guestbookKey } = Astro.params;
import { AtUri } from "@atproto/syntax";

const guestbookAtUri = AtUri.make(ownerDid, collectionName, guestbookKey);
const guestbookResponse =
  await Astro.locals.guestbookAgent.com.fujocoded.guestbook.getGuestbook({
    guestbookAtUri: guestbookAtUri.toString(),
  });

if (!guestbookResponse.success) {
  throw new Error("Problem with the guestbook");
}

const guestbookData = guestbookResponse.data;
---

<html>
  <body>
    {!!guestbookData?.title && <h1>{guestbookData?.title}</h1>}
    <div class="submissions">
      {
        guestbookData?.submissions.map((submission) => (
          <article>
            <>
              <p>
                <span class="author">{submission.author.did}</span> says:
                <span class="text">{submission.text}</span>
              </p>
              <datetime>{submission.createdAt}</datetime>
            </>
          </article>
        ))
      }
      <form
        action="/guestbook/did:plc:r2vpg2iszskbkegoldmqa322/com.fujocoded.guestbook.book/emotional-support"
        method="POST"
      >
        <input name="message" placeholder="your text" />

        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
