---
import Login from "../components/auth/Auth.astro";
---

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=1"
    />
    <style>
      html {
        font-size: 62.5%;
      }
      body {
        font-size: 2rem;
      }
    </style></head
  >

  <body>
    <Login />
    <slot />
  </body>
</html>
