<form
  action={`https://${Astro.locals.appviewDomain}/oauth/authorize`}
  method="GET"
>
  <input name="did" value="did:plc:r2vpg2iszskbkegoldmqa322" />

  <button type="submit">Submit</button>
</form>
