---
import Login from "./Login.astro";
import Logout from "./Logout.astro";

const isLoggedIn = !!Astro.locals.loggedInDid;
---

{!isLoggedIn && <Login />}
{
  isLoggedIn && (
    <div>
      Hello {Astro.locals.loggedInHandle} <Logout />
    </div>
  )
}
