---
import { actions } from "astro:actions";

const { error } = Astro.getActionResult(actions.login) ?? {};
---

<form action={actions.login} method="POST">
  <input name="did" value="did:plc:r2vpg2iszskbkegoldmqa322" />
  <button type="submit">Submit</button>
  {error && <div>{error.message}</div>}
</form>
